body {
  background: $c_background;
  font-family: $f_text;
}

h1, h2, h3, h4 {
  font-family: $f_text_header;
}

h1 {
  color: $c_text_header;
}

h2, h5, h6 {
  color: $c_text_accent;
}

h3, h4 {
  color: $c_text_accent_alt;
}

a {
  color: $c_text_accent;
}

p, a, li, label {
  color: $c_text;
  font-size: 1.375rem;
}

.container {
  margin: auto;
  width: 100%;
  max-width: $l_container_width_wide;
  @media only screen and (max-width: $l_container_width_wide) {
    padding: 0 1.5rem;
  }
}

footer #copyright {
  color: $c_text;
}